footer {
    display: flex;
    background-color: rgb(117, 117, 149);
    color: white;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons img {
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  